<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student :: <%= pageTitle %></title>
    <link  rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
        <%- include('includes/head.ejs')%> 
    <h2>Student Name</h2>
    <label for="name"><%= SI.StudentName%></label> <br>
    <label for="fathername"><%= SI.FatherName%></label> <br>
    <label for="homeAddress"><%= SI.HomeAddress%></label> <br>
    <label for="PhoneNumber"><%= SI.PhoneNumber%></label> <br>
    <label for="HomePhone"><%= SI.HomePhone%></label> <br>
    <label for="B-form"><%= SI.B_form%></label>  <br>
    
    
</body>
</html>